# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
/minhasfinancasapp-a6fd6-firebase-adminsdk-fbsvc-38f62a42d4.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/generated/prisma

/generated/prisma

/generated/prisma

/generated/prisma

/lib/generated/prisma

/lib/generated/prisma

##
sw.*

